.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: orange;
  height: 1000px;
  margin-top: 5c00px;
}

.fatBox {
  display: flex;
  flex: 1;
  min-height: 400;
  background: green;
}
.smallBox {
  max-height: 150px;
  overflow: auto;
}

.box{
  padding: 32px;
  background: #142d4c;
  border-radius: 3px;
  color: white;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 2.2;
  max-height: 180px;
  overflow: auto;
  position: relative;
}

.seeMoreWrapper{
  display:flex;
    flex: 1;
    justify-content: center;
}

.seeMore{
  position: relative;
  top: -40px;
  background: #5ca0d3;
  color: white;
  padding: 4px 8px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 13px;
}

.downArrowIcon{
  height: 10px;
  margin-right: 4px;
}