.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 1000px;
  margin-top: 500px;
}

.AppContainer {
  background: #142d4c;
}
.fatBox {
  display: flex;
  flex: 1;
  min-height: 400;
  background: green;
}
.smallBox {
  max-height: 150px;
  overflow: auto;
}

.box{
  padding: 32px;
  border-radius: 3px;
  color: black;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 2.2;
  max-height: 280px;
  overflow: auto;
  position: relative;
  background: white;
  width: 400px;
  margin: auto;
}

.seeMoreWrapper{
  display:flex;
  flex: 1;
  justify-content: center;
  position: relative;
  top: -40px;
}

.seeMore{
  background: black;
  color: white;
  padding: 4px 8px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 13px;
}

.downArrowIcon{
  height: 10px;
  margin-right: 4px;
}

h1{
  color: #142d4c
}

.category{
  background: #1230F2;
  color: white;
  border-radius: 12px;
  display: flex;
  padding: 18px 18px 18px 24px;
  box-shadow: rgba(68, 65, 65, 0.57) -2px 4px 13px 5px;
  margin-bottom: 18px;
}
.category__left__wrapper{
  display: flex;
  flex: 1;
}

.category__left{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.category__left__header{
  font-weight: 600;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.8px;
}

.category__left__timestamp{
  font-style: italic;
  font-size: 12px;
  margin: 0;
}

.category__right__taskstatus{
  font-size: 13px;
}

h4{
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin-left: 50px;
  padding-top: 18px;
  margin-bottom: 10px;
}